.navbar-color {
    background-color: rgb(153, 184, 166);
}

.carousel-slides {
    height: 750px;

}

img {
    height: 300px;
}

.footer-sec {
    background-color: rgb(163, 189, 174);
}

.location {
    left: 970px;
}







